<nav class="navbar navbar-expand-lg navbar-dark estilo-titulos"
     style="background-color: #f44336;">
     <a class="navbar-brand" [routerLink]="['home']">
        <img src="assets/youico.png" width="30" height="30" class="d-inline-block align-top" alt="">
        Favorite Youtube </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" 
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link"  [routerLink]="['home']">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>

      </ul>

      <ul class="navbar-nav navbar-right" style="margin-right: 100px" >  
        <li class="nav-item" *ngIf="identity == null">
          <a class="nav-link" [routerLink]="['login']">Login</a>
        </li>
        <li class="nav-item" *ngIf="identity == null">
          <a class="nav-link" [routerLink]="['registro']">Registro</a>
        </li>
      
        <li class="nav-item dropdown" *ngIf="identity">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" 
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ identity.name  }} {{ identity.surname }}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['ajustes']">Ajustes</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item pointer" (click)="logout()">Cerrar Sesion</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>